.carousel {
  margin: 0 auto;
  overflow: hidden;
  max-width: 90%;
  position: relative;
}

.carouselInner {
  white-space: nowrap;
  transition: ease 2s;
}

.carouselIndicators {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 1.5em;
  z-index: 2;
}
