.box {
  width: 65%;
  margin: 10% 0px;
  padding-bottom: 5%;
  opacity: 0;
  animation: fade-in 1.5s ease-in forwards;
}
.p1 {
  color: #f9b82c;
}
.projectsMoldBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: red; */
}

.imgAndProjectsUrls {
  display: flex;
  flex-direction: row;
}

.proyectTitle {
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 3% 0px;
}

.description{
  display: flex;
  flex-direction: row;
  margin-top: 2%;
}

.summary {
  background-color: #112240;
  width: 45%;
  text-align: justify;
  text-justify: inter-word;
  color: #d0d4da;
  padding: 1.5% 2%;
  border-radius: 5px;
  font-size: 1em;
  position: relative;
  display: flex;
}
.technologies{
  margin-left: 2%;
  width: 30%;
  font-size: 2.2em;
  height: 100%;
  /* background-color: red; */
  border-radius: 10px;
  padding: 3%;
  animation: changeColor 2s linear infinite alternate;
}

.img1 {
  height: 100%;
  width: 80%;
  border-radius: 5px;
}

.p2 {
  color: #67758a;
  width: 50%;
  font-weight: 600;
  position: relative;
  margin: 3% 0px;
}

.divA {
  margin-left: 2%;
  padding: 0%;
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}
.a1 {
  padding: 0%;
  margin: 0%;
}

.image {
  height: 40%;
  width: 80%;
  margin:25% 0
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@keyframes changeColor {
  0% {
      background-color: red;
  }
  20%{
    background-color: green;
  }
  40% {
    background-color: yellow;
}
60% {
  background-color: orange;
}
80% {
  background-color: rgb(247, 0, 255);
}
  100% {
      background-color: blue;
  }
}