.box{
  display: flex;
  justify-content: flex-end;
  grid-column: 1/4;
  width: 100%;
 
}
.list{
 width: 30%;

 list-style-type: none;
 display: flex;
 color: #D0D4DA; 
 font-family: candara;
 font-weight:600;
 flex-direction: row;
 justify-content: space-around;

}
.p1{
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.p1:hover{
  cursor: pointer;
  color:#F9B82C;
}