.box {
  width: 55%;
  margin: 10% 0px;
  opacity: 0;
  animation: fade-in 1.5s ease-in forwards;
  display: flex;
  flex-direction: column;
}

.TechnologiesBox {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  padding-top: 2rem;
  /* padding-bottom: 2rem; */
  text-align: center;
  gap: 1rem;
  width: 110%;
  color: white;
}

.Technologies {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.3rem;
  padding-top: 1rem;
  align-items: center;
  transition-duration: 100ms;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  width: 90%;
}

.Technologies:hover {
  height: 100%;
  width: 100%;
}

.image {
  width: 100%;
  height: 100%;
  margin-bottom: 10%;
}
.otherImage {
  width: 100%;
  height: 100%;
  /* margin-top: 25%; */
  /* margin-bottom: 25%; */
}
.skillName {
  font-size: 1.2em;
}

.p1 {
  color: #f9b82c;
  font-size: 1.2rem;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .box {
    width: 100%;
  }
  .TechnologiesBox {
    width: 90%;
  }
}