.box {
  width: 55%;
  margin: 10% 0px;
  opacity: 0;
  animation: fade-in 1.5s ease-in forwards;
  flex-direction: column;
  align-content: space-between;
}

.TechnologiesBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  gap: 1rem;
  width: 100%;
  color: white;
}

.Technologies {
  padding: 2.5rem 0.3rem;

  transition-duration: 1000ms;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.Technologies:hover {
  height: 105%;
  width: 105%;
}

.image {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 5rem;
  background-color: #0a192f;
}
 .otherImage{
  height: auto  ;
  width: auto ;  
  margin-left: auto;
  margin-right: auto;
  width: 5.5rem;
  background-color: #0a192f;

} 

.p1 {
  color: #f9b82c;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

