

.box{
  grid-column: 1/2;
  grid-row:2/3;
  height: 45%;
  width: 3%;
  flex-direction:column;
  bottom:0%;
  left: 0%;
  position: fixed;
}

.image{
  height: 10%;
  width: 70%;
  margin:10%;  
}

.verticalBar{
    height: 50%;
    width:40%;
    border-right:  0.2em solid;
    border-color: #C58028;
    display: block;
}

.a1 img:last-child{
  display: none;
}

.a1:hover img:last-child{
  display: block;
}

.a1:hover img:first-child{
  display: none;
}
