.box {
  grid-column: 3/4;
  grid-row: 2/3;
  height: 55%;
  width: 3%;
  flex-direction: column;
  bottom: 0%;
  right: 0%;
  position: fixed;
  opacity: 0;
  animation: fade-in 1.5s ease-in forwards;
}
.p1Box {
  height: 50%;
}
.p1 {
  color: white;
  transform: rotate(90deg);
}

.p1:hover {
  color: #b1205a;
}
.verticalBar {
  height: 50%;
  width: 40%;
  border-right: 0.2em solid;
  border-color: #c58028;
  display: block;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}
@media (max-width: 800px) {
  .box{
    display: none;
    pointer-events: none; 
  }
}