.box{
  grid-column: 3/4;
  grid-row:2/3;
  height: 55%;
   width: 3%;
  flex-direction:column;
  bottom:0%;
  right: 0%;
  position: fixed;
}
.p1Box{
  height:50%;
 
}
.p1{
  color:white;
  transform: rotate(90deg);
}

.p1:hover{
  color:#B1205A;

}
.verticalBar{
  height: 50%;
  width:40%;
  border-right:  0.2em solid;
  border-color: #C58028;
  display: block;
}