.box {
  display: flex;
  width: 55%;
  flex-direction: column;
  align-content: space-between;
  margin: 10% 0px;
  opacity: 0;
  animation: fade-in 1.5s ease-in forwards;
}

.title {
  font-weight: 700;
  color: #ccd6f6;
  font-size: 3rem;
  padding: 0px;
  margin: 0px;
  /* width:auto; */
  background-color: red;
}

.p1 {
  font-weight: 700;
  font-size: 2.5em;
  color: #f9b82c;
  margin: 5% 0px;
}

.p2 {
  color: #ccd6f6;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .box {
    width: 100%;
  }
}