.box {
  grid-column: 2/3;
  display: flex;
  width: 55%;
  flex-direction: column;
  margin: 10% 0px;
  opacity: 0;
  animation: fade-in 1.5s ease-in forwards;
}

.p2 {
  color: #f9b82c;
  margin: 2% 0px;
  font-size: 1.2rem;
}

.title {
  font-weight: 700;
  color: #ccd6f6;
  font-size: 3rem;
  padding: 0px;
  margin: 0px;
}



.inputBox {
  color: #ccd6f6;
  background-color: #112240;
  padding: 1em;
  border: none;
}

.textTareaBox {
  background-color: #112240;
  border: none;
  color: #ccd6f6;
  padding: 1em 0em 20em 1em;
}

.divForm {
  flex-direction: column;
  align-content: space-between;
  height: auto;
  gap: 1rem;
  width: 100%;
  display: flex;
}

.btn {
  display: flex;
  color: #ccd6f6;
  background-color: rgba(255, 255, 255, 0);
  border-color: white;
  width: 15%;
  font-weight: 600;
  font-size: 1.3em;
  padding: 0.5em 1em;
  border-radius: 3px;
  border: 2px solid;
  justify-content: center;
  align-items: center;
}
.btnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

p.danger {
  color: red;
  font-size: 15px;
}

input.danger {
  border: 2px solid red;
}

h2 {
  text-align: center;
}

.alertMessage {
  padding: 20px;
  width: 75%;
  font-size: 20px;
  margin: auto;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 25%) 0px 5px 10px 2px;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .box {
    width: 100%;
  }
}