.box {
  display: flex;
  grid-column: 1/4;
  width: 100%;
  opacity: 0;
  animation: fade-in 1.5s ease-in forwards;
  top: 0%;
  position: fixed;
  background-color: #0a192f;
  z-index: 2;
  padding-bottom: 1.5%;
  overflow-x: hidden;
  box-shadow: rgb(0, 0, 0) 0px 5px 5px;
}
.computerMenu {
  width: 100%;
  list-style-type: none;
  display: flex;
  color: #d0d4da;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  justify-content: flex-end;
  margin-top: 1%;
  align-items: center;
  font-size: 1.5rem;
}

.NavbarLi {
  margin: 0 1%;
}

.p1:hover {
  cursor: pointer;
  color: #f9b82c;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  100% {
    opacity: 0;
  }
}

.closeMenu,
.openMenuImg {
  display: none;
  border: none;
  background: none;
  opacity: 0;
  margin: 0;
  padding: 0;
}

@media (max-width: 800px) {
  .box {
    /* animation: fade-out 1s ease-in forwards; */
    /* z-index: 1; */
    background-color: transparent;
    justify-content: flex-end;
    box-shadow:none
  }

  .computerMenu {
    display: none;
    pointer-events: none;
  }
  .phoneMenu {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    height: 100%;
    overflow-y: auto;
    background-color: #0a192f;
    font-size: 4rem;
    display: flex;
    list-style-type: none;
    color: #d0d4da;
    overflow-y: hidden;
  }

  .closeMenu {
    display: block;
    animation: fade-in 1s ease-in forwards;
    transition: opacity 1s;
    cursor: pointer;
    align-self: flex-end;
    padding: 0;
  }
  .closeMenuImg {
    height: 70%;
    width: 80%;
    margin-top: 20% ;
  }
  .openMenuImg {
    display: block;
    animation: fade-in 1s ease-in forwards;
    transition: opacity 1s;
    cursor: pointer;
    align-self: flex-end;
    height: 5%;
    width: 5%;
    margin-top: 2%;
    margin-right: 2%;
    height: 10%;
    width: 10%;
  }
}
