.box {
  display: flex;
  width: 55%;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
  margin: 10% 0px;
}

.title {
  font-weight: 700;
  color: #ccd6f6;
  font-size: 3rem;
  padding: 0px;
  margin: 0px;
}

.divTitle {
  padding: 0px;
  border-bottom: 0.3em solid;
  border-color: #b1205a;
  display: block;
  width: 30%;
  margin: 10% 0px;
}

.divTitleE {
  padding: 0px;
  border-bottom: 0.3em solid;
  border-color: #b1205a;
  display: block;
  width: 33%;
  margin: 10% 0px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
