.box {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-content: space-between;
  margin: 10% 0px;
  opacity: 0;
  animation: fade-in 1.5s ease-in forwards;
}
@keyframes fade-in {
  100% {
    opacity: 1;
  }
}
