.box{
  /* grid-column: 2/3; */
  width:55%; 
}

.skillsBox{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 2rem;
padding-bottom: 2rem;  
text-align: center;
gap: 1rem;
width:100%;
color: white; 
}

.skills{
  padding-top: 0.5rem;
padding-bottom: 0.5rem; 
transition-duration: 500ms; 
box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 

}

.skills:hover {
  --transform-scale-x: 1.1;
 --transform-scale-y: 1.1; 
  }

  .image{
    margin-left: auto;
margin-right: auto; 
width: 5rem;
  background-color: #0A192F;
  }

.title{
    font-weight: 700;
    color: white;
    font-size: 3rem;
    padding:0px;
    margin: 0px;
  }
 
  
.divTitle{
    padding:0px;
    border-bottom:  0.3em solid;
    border-color: #B1205A;
    display: block;
    width: 15%;
}
.p1{
  color:#F9B82C;
}