.box{
  grid-column: 2/3;
  width: 25%;
  margin:0%;
  flex-direction:column;
}
.logoBox{
  display: flex;
  margin:0%;
  padding:0%;
  width: 100%;
  padding-left: 10%;
  /* flex-direction: row;
  justify-content: space-evenly; */
}

.image{
  height: 85%;
  width: 35%;
  margin:0%;
  padding:0%;
}

.a1{
padding: 0%;
}

.a1 img:last-child{
  display: none;
}

.a1:hover img:last-child{
  display: block;
}

.a1:hover img:first-child{
  display: none;
}

.p1{
  color:#F9B82C;
  font-weight:700;
  text-align: center;
}



